@import '../../global.scss';

// .hero-main{
//   position: sticky;
//   top: 0;
//   z-index: -1;
// }
.marque{
  position: absolute;
  top: 5rem;
  color: $clr-0;
  padding: 10px 0;
}
.heroSec{
  @include container;
  @include flex();
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 200px;
  @include tablet{
    flex-direction: column;
    top: 8rem;
    gap: 0px;
  }
  .info{
    color: #fff;
    .typewriter{
      @include mobile {
        margin-bottom: 1.2rem;

      }
    }
    h1{
      font-size: 3.6rem;
      font-weight: 700;
      line-height: 60px;
      margin-bottom: 1rem;
      @include tablet{
        font-size: 3rem;
        line-height: 55px;
        margin-bottom: 2rem;
        margin-top: 1rem;
      }
      @include mobile{
        font-size: 2.3rem;
        line-height: 37px;
        margin-bottom: 2rem;
        margin-top: -1rem;
      }
    }
    p{
      margin-bottom: 1rem;
      font-size: 14px;
      font-weight: 300;
      @include mobile{
        font-size: .9rem;
      }
    }
    .heroBtn{
      background-color: $clr-0;
      border: 1px solid $clr-0;
      padding: 14px 60px;
      font-size: 15px;
      font-weight: bold;
      color: #fff;
      transition: .5s;
      @include shadow;
      &:hover{
        background-color: transparent;
      }
    }
  }
  .heroImg{
   animation: imgWave 10s linear infinite;
   @include tablet {
    opacity: 0;
   }
    img{
      width: 300px;
      @include tablet{
        margin-right: 2rem;
      }
      @include mobile{
        width: 200px;
        margin-top: 20px;
      }
    }
  }
  @keyframes imgWave {
    0% {
      transform: translateY(0%);
      transform: rotate(0deg);
    }
    50% {
      transform: translateY(10%);
      transform: rotate(5deg);
    }
    100% {
      transform: translateY(0%);
      transform: rotate(0deg);
    }
  }
}

.area{
  background: $clr-1;  
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
  width: 100%;
  height:100vh;
}
.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}
.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}
.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}
.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}
.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}
.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}
.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}
.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}
.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}
.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}
@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }
}

//for type effect
$chWidth: 0.49em;
// Word length
$chCount: 10;
// Typing animation length
$typeDuration: 180ms * $chCount;

$color: slateblue;
$bg: #f7f3ff;
$cursor: scale-color($color, $lightness: -60%);

.type-animation {
	// Required for keeping expected alignment
	display: inline-flex;
	// Start out by hiding via width and overflow
	width: 0;
	overflow: hidden;
	// Leave room for cursor!
	padding-right: 0.08em;
	position: relative;

	&:after {
		content: "";
		background: $bg;
		position: absolute;
		right: 0;
		top: -0.05em;
		bottom: -0.05em;
		width: 0.08em;
		border-right: 2px solid transparent;
	}

	&.animating {
		animation: type 2s ;
		// "stick" to last frame
		animation-fill-mode: forwards;
		animation-delay: 2s;

		&:after {
			$cursorLoopCount: ((($chCount + 1) * 180)/320) + 3;
			animation: cursor 320ms $cursorLoopCount ease-in-out;
		}
	}
}

@keyframes cursor {
	0%,
	100% {
		border-color: $bg;
	}
	50% {
		border-color: $cursor;
	}
	100% {
		width: 0;
	}
}

$frameSize: calc(100 / 10);
@keyframes type {
	@for $ch from 1 to $chCount {
		$frame: $ch * $frameSize;
		#{$frame}% {
			width: $ch * $chWidth;
		}
	}
	100% {
		width: ($chCount - 1) * $chWidth;
		padding-right: 0;
	}
}




