@import '../../global.scss';

.course {
  width: 300px;
  text-decoration: none;
  background-color: #fff;
  @include shadow;
  display: flex;
  margin: 1rem 0;
  flex-direction: column;
  gap: 15px;
  cursor: pointer;
  transition: .5s ease;
  position: relative;
  &:hover {
    transform: scale(1.05);
    .details {
      span{
        transform: translateX(10px);
      }
    }
  }
  @include mobile {
    width: 100%;
    border-radius: 0px;
  }
  img{
    width: 100%;
    height: 200px;
    border-bottom: 2px solid $clr-0;
    object-fit: cover;
  }
  .cat {
    background-color: $clr-0;
    width: 100px;
    color: white;
    padding: 5px 10px;
    position: absolute;
    top: 0;
    text-align: center;
    left: 0;
    &.sp{
      background-color: $clr-1;
    }
  }
  .date-sec{
    @include flex();
    gap: 10px;
    color: $textColor;
    .day{
      @include flex();
      gap: 5px;
      svg{
        color: $clr-0
      }
    }
    .time{
      @include flex();
      gap: 5px;
      svg{
        color: $clr-0
      }
    }
  }
  h2{
    text-align: center;
    color: $textColor;
  }
  .desc {
    color: $textColor;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
  }
  .details{
    span{
      @include flex();
      gap: 10px;
      transition: .5s;
    }
    background-color: $clr-0;
    padding: 5px 10px;
    width: 100%;
    color: #fff;
    font-size: 15px;
  }
}