@import '../../global.scss';

.notice-single-page {
  margin: 5rem 0;
  &-wrapper {
    @include container;
    @include shadow;
    background-color: #fff;
    padding: 20px 40px;
    .top-title{
      margin: 5rem 0;
      text-align: center;
      color: $textColor;
      font-size: 2.5rem;
      font-weight: 600;
      @include mobile {
        font-size: 2.3rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
      }
    }
    .notice-img {
      width: 100%;
      margin-bottom: 3rem;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
    .info {
      display: flex;
      gap: 20px;
      margin-bottom: 2rem;
      @include mobile {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
      }
      .time {
        @include flex();
        gap: 5px;
        color: $textColor;
        svg{
          color: $clr-0;
        }
      }
    }
    .text {
    }
    .back-arrow {
      margin-top: 2.5rem;
      font-size: 17px;
      @include flex(center, start);
      text-decoration: none;
      gap: 5px;
      color: $clr-1;
    }
  }
}
