@import '../../global.scss';

.teachers {
  @include container;
  padding: 7rem 0 0;
  @include mobile {
    padding:4rem 0 0;
  }
  &-wrapper {
    .top {
      text-align: center;
      h1 {
        font-size: 3rem;
        @include mobile {
          font-size: 2.3rem;
        }
        span {
          color: $clr-0;
        }
      }
      p {
        margin: auto;
        max-width: 600px;
        margin-bottom: 3rem;
        @include mobile {
          margin-bottom: 3rem;
    
        }
      }
    }
    .bottom {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      .teacher-sec {
        @include flex();
        flex-wrap: wrap;
        gap: 20px;
        @include mobile {
          gap: 10px;
         
        }
      }
      .slick-slider {
      }
      .btn {
        display: flex;
        align-self: center;
        padding: 0 50px;
        @include mobile {
          padding: 20px;
        }
        .more-btn {
          @include outline-button;
        }
      }
    }
  }
}
