@import '../../global.scss';

.nav-main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  transition: all .5s ease;
  &.scrollup {
    transform: translateY(-100%);
  }
  &.active {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    @include shadow;
    color: rgb(23, 48, 48);
  }
  @include tablet {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 3px 5px 5px #00000021;
    color: rgb(23, 48, 48);
  }
}
.navbar {
  @include container;
  position: relative;
  padding: 16px 1rem;
  width: 100%;
  color: #fff;
  // transition: .5s ease;
  @include flex(center, space-between);
  .logo {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: $clr-0;
    @include tablet{
      font-size: 1.5rem;

    }
  }
  ul {
    @include flex;
    gap: 20px;
    transition: .5s ease-in-out;
    .link {
      color: inherit;
      text-decoration: none;
      cursor: pointer;
      &:nth-child(3) {
        transition: .5s ease-in-out;
        span {
          // color: $clr-0;
          font-size: 17px;
          animation: fadetxt 2s ease-in-out infinite;
          @keyframes fadetxt {
            0% {
              opacity: 0;
            }
            50% {
              opacity: 1;
              color: $clr-0;
            }
            100% {
              opacity: 0;
            }
          }
        }
      }
      &:nth-child(6) {
        span {
          // color: $clr-0;
          font-size: 17px;
          animation: fadetxt 2s ease-in-out infinite;
          @keyframes fadetxt {
            0% {
              opacity: 0;
            }
            50% {
              opacity: 1;
              color: $clr-0;
            }
            100% {
              opacity: 0;
            }
          }
        }
      }
      &:hover{
        color: $clr-0;
      }
      &.active {
        color: $clr-0;
        // transform: translateY(-5px);
        border-bottom: 2px solid $clr-0;
      }
    }
    @include tablet {
      flex-direction: column;
      position: absolute;
      top: 4rem;
      right: -300px;
      height: 100vh;
      padding-right: 6rem;
      padding-left: 2rem;
      padding-top: 2rem;
      padding-bottom: 2rem;
      align-items: flex-start;
      justify-content: start;
      background-color: rgb(255, 255, 255);
      color: rgb(23, 48, 48);
      box-shadow: 0px 10px 3px 2px #00000021;
    }
    .navBtn {
      background-color: $clr-0;
      color: #fff;
      padding: 5px 20px;
      border-radius: 50px;
      text-decoration: none;
    }
  }
}
.nav-menu {
  display: none;
  .nav-line{
    width: 32px;
    height: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    span {
      transition: .5s ease;
      width: 100%;
      height: 3px;
      background-color: $clr-1;
      transform-origin: left;
    }
    &.active{
      span{
        &:nth-child(1){
          transform: rotate(45deg);
        }
        &:nth-child(2){
          opacity: 0;
        }
        &:nth-child(3){
          transform: rotate(-45deg);
        }
      }
    }
  }
  @include tablet {
    display: block;
  }

}
