@import '../../global.scss';

.teachers-page {
  margin: 5rem 0;
  &-wrapper {
    @include container;
    .top {
      text-align: center;
      h1 {
        margin-top: 10rem;
        font-size: 3rem;
        @include mobile {
          font-size: 2.3rem;
        }
        span {
          color: $clr-0;
        }
      }
      p {
        margin: auto;
        max-width: 600px;
        margin-bottom: 3rem;
        @include mobile {
          margin-bottom: 3rem;
    
        }
      }
    }
    .bottom {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      .teacher-sec {
        @include flex();
        flex-wrap: wrap;
        gap: 20px;
        @include mobile {
          gap: 10px;
        }
      }
    }
  }
}
